src/.vs/
src/SimonsVossSearchPrototype.DAL/obj/Debug/SimonsVossSearchPrototype.DAL.csproj.CoreCompileInputs.cache
src/SimonsVossSearchPrototype/bin/
src/SimonsVossSearchPrototype.DAL/obj/
src/SimonsVossSearchPrototype/obj/
src/packages/
src/SimonsVossSearchPrototype.Tests/obj/
