@*@model SimonsVossSearchPrototype.Models.SearchModule*@

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">@Html.RouteLink("Buildings", "SearchBuildings")</li>
        <li role="presentation">@Html.RouteLink("Locks", "SearchLocks")</li>
        <li role="presentation">@Html.RouteLink("Groups", "SearchGroups")</li>
        <li role="presentation">@Html.RouteLink("Medias", "SearchMedias")</li>
    </ul>
</div>

