@model SimonsVossSearchPrototype.Models.SearchModule
@{
    ViewBag.Title = "SearchGroups";
}

<h2>Search Groups</h2>

@Html.Partial("SearchFormPartial", Model)

@Html.Partial("SearchResultsPartial")

@Html.Hidden("SearchApiUrl", Url.HttpRouteUrl("GroupsSearchApi", new { }))

@section scripts{

    @Scripts.Render("~/Scripts/search.js")

}
